<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('Forgot Password')">
<body class="securities">
<div class="strip"></div>
<h1 class="text-logo u-margin-bottom-medium"><span class="text-logo--left">Finance</span><span class="text-logo--right"><i>script</i></span></h1>

<!--/*@thymesVar id="passwordFinderDto" type="com.financescript.springapp.dto.PasswordFinderDto"*/-->
<!--/*@thymesVar id="email" type="java.lang.String"*/-->

<main class="security-main">
    <div class="fp-form">
        <div class="form-essence" th:if="${success == 'false'}">
            <form th:action="@{/resetPassword}" method="post" class="form u-margin-top-medium">
                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Type your email"
                           class="form__input"
                           th:value="*{email}" />
                </div>
                <div class="row">
                    <div class="u-margin-top-small">
                        <input type="submit"
                               class="btn btn--white"
                               value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${success == 'true'}"  class="fp-form--center">
            <h1>Email was sent.</h1>
        </div>
    </div>
    <div th:if="${noUserFoundError != null}" class="alert">
        <div class="alert--danger" th:text="${noUserFoundError}">
            We were unable to find the account associated with the email.
        </div>
3
<!--&lt;!&ndash;        <div th:if="${param.success}">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="alert&#45;&#45;info">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Your account username was sent.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Please reset your password by clicking the link.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
    </div>
</main>
</body>
</html>