<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
    function upperCaseF(a){
        setTimeout(function(){
            a.value = a.value.toUpperCase();
        }, 1);
    }
</script>
<head th:replace="fragments/info_fg :: metainfo ('Login')">
</head>
<body class="securities">
<div class="strip"></div>
<h1 class="text-logo u-margin-bottom-medium"><a th:href="@{/}"><span class="text-logo--left">Finance</span><span class="text-logo--right"><i>script</i></span></a></h1>
<!--/*@thymesVar id="member" type="com.financescript.springapp.dto.MemberDto"*/-->
<main class="security-main">
    <div class="login-form">
        <div class="form-essence">
            <form th:action="@{/authenticateTheUser}" method="post" class="form">
                <div class="form__group">
                    <label for="username" class="form__label">Username</label>
                    <input type="text"
                           id="username"
                           name="username"
                           class="form__input"
                           autofocus="autofocus"
                           onkeydown="upperCaseF(this)"
                           placeholder="Username * uppercase *">
                </div>
                <div class="form__group">
                    <label for="password" class="form__label">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form__input"
                           placeholder="Password">
                </div>
                <div class="row">
                    <div class="u-margin-top-small">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="btn btn--white"
                               value="Log In">

                        <span class="u-margin-left_medium"></span><a th:href="@{/sign-up}" class="anchor__darkorange anchor__darkorange__big">Join us</a>
                    </div>
                    <span><a th:href="@{/forgotPassword}" class="anchor__darkorange anchor__darkorange__medium">Forgot username/password</a></span>
                </div>
            </form>

        </div>
    </div>
    <div th:if="${param.error != null or param.logout != null}" class="alert">
        <div th:if="${param.error}">
            <div class="alert--danger">
                Invalid username or password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert--info">
                You have been logged out.
            </div>
        </div>

    </div>

</main>
</body>
</html>