<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('Sign up')">Meta info goes here
</head>
<body
        th:object="${member}">
<div class="strip"></div>
<h1 class="text-logo u-margin-bottom-medium"><a th:href="@{/}"><span class="text-logo--left">Finance</span><span class="text-logo--right"><i>script</i></span></a></h1>
<!--/*@thymesVar id="member" type="com.financescript.springapp.dto.MemberDto"*/-->
<main class="security-main">
    <div class="signup-form">
        <div class="form-essence">
            <form th:action="@{/register}" method="post" role="form"
                  data-toggle="validator" class="form">
                <div class="form__group">
                    <label class="form__label">Username</label>
                    <input type="text" th:field="*{username}"
                           placeholder="Username" class="form__input" required/>
                </div>
                <div class="form__group">
                    <label class="form__label">Email</label>
                    <input type="text" th:field="*{email}"
                           placeholder="Email" class="form__input" required/>
                </div>
                <div class="form__group">
                    <label class="form__label">Password</label>
                    <input type="password" th:field="*{password}"
                           placeholder="Password" class="form__input" required/>
                </div>
                <div class="form__group">
                    <label class="form__label">Confirm password</label>
                    <input type="password" th:field="*{matchingPassword}"
                           placeholder="Confirm password" class="form__input" required/>
                </div>
                <div class="row">
                    <div class="u-margin-top-small">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="btn btn--white"
                               value="Register">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<div th:if="${#fields.hasErrors('*')}" class="alert">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
         class="alert--danger" role="alert">
    </div>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
         class="alert--danger" role="alert">
    </div>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
         class="alert--danger" role="alert">
    </div>
    <div th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
         class="alert--danger" role="alert">
    </div>
    <div th:if="${signUpError != null}" th:text="${signUpError}">
    </div>
</div>

</body>
</html>