<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="header" th:fragment="social_media">
    <h1><a id="logo" href="#">
        <img src="../static/img/Logo.png" th:src="@{/img/Logo.png}" alt="FinanceScript" width="100" height="89"/>
    </a></h1>
    <div id="twitter">
        <a href="https://twitter.com/FinanceScript" target="_blank"> <img src="../static/img/TwitterLogo.png" th:src="@{/img/TwitterLogo.png}" alt="" width="32" height="30"/></a>
    </div>
    <div id="linkedin">
        <a href="https://www.linkedin.com/company/financescript-com?trk=company_logo" target="_blank"> <img src="../static/img/LIlogo.png" th:src="@{/img/LIlogo.png}" alt="" width="30" height="30"  /></a>
    </div>
</div>
<nav th:fragment="navigation">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li class = "nav-list"><a href="#" class="nav-choice">About</a></li>
        <li class = "nav-list"><a href="#" class="nav-choice">Simulations</a></li>
        <li class = "nav-list"><a href="#" class="nav-choice">Machine Learning</a></li>
        <li class = "nav-list"><a href="#" class="nav-choice">Equity Research</a></li>
        <li class = "nav-list"><a href="#" class="nav-choice">Contact Us</a></li>
    </ul>
</nav>
</body>
</html>