<!DOCTYPE html>
<!--Temporary research page. To be replaced by a fancier style-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('403 Error')">Meta info goes here
</head>

<body>
<div th:replace="fragments/header_fg :: social_media">Social media header goes here</div>
<div th:replace="fragments/header_fg :: navigation">Navigation bar goes here</div>
<main class="mainsection">
    <div class="responsive__margin">
        <div class="error-page">
            <div class="error-page__msg">
                <h1 class="error-page__title">403 Error</h1>
                <div class="error-page--center"><a href="../index.html" th:href="@{/}" role="button" aria-pressed="true" class="btn btn--green">Return to home page</a></div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer_fg :: footer"></div>
</body>
</html>