/*
** Author: Hochan Lee
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-shadow: inherit; }

html {
    font-size: 62.5%; }
@media (max-width: 75em) {
    html {
        font-size: 56.25%; } }
@media (max-width: 56.25em) {
    html {
        font-size: 50%; } }
@media (min-width: 112.5em) {
    html {
        font-size: 75%; } }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box; }

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        transform: translate(2rem); }
    100% {
        opacity: 1;
        transform: translateX(0); } }

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem); }
    80% {
        transform: translateX(-2rem); }
    100% {
        opacity: 1;
        transform: translateX(0); } }

@keyframes moveFromBottom {
    0% {
        transform: translateY(3rem); }
    100% {
        transform: translateY(0); } }

.u-center-text {
    text-align: center; }

.u-margin-bottom-large {
    margin-bottom: 8rem; }

.u-margin-bottom-medium {
    margin-bottom: 4rem; }

.u-margin-bottom-small {
    margin-bottom: 1.5rem; }

.u-margin-top-large {
    margin-top: 8rem; }

.u-margin-top-medium {
    margin-top: 4rem; }

.u-margin-top-small {
    margin-top: 1rem; }

.u-margin-top-huge {
    margin-top: 10rem; }

.u-float-left {
    float: left; }

.u-float-right {
    float: right; }

.u-padding-small-btn {
    padding: 0.9rem 4rem !important; }

.u-padding-very-small-btn {
    padding: 0.6rem 3rem !important; }

.u-margin-top-huge-px {
    margin-top: 42px; }

.u-margin-bottom-small-px {
    margin-bottom: 2px; }

.u-padding-small-bottom {
    padding-bottom: 5px; }

.u-margin-neg-top-small-px {
    margin-top: -12px; }

.responsive__margin {
    content: "";
    border-radius: 3px;
    display: block;
    height: 100%;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%); }
@media (max-width: 56.25em) {
    .responsive__margin {
        width: 90%; } }
@media (max-width: 37.5em) {
    .responsive__margin {
        width: 100%; } }

.u-text-center {
    text-align: center;
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%; }

.u--footer--img-center {
    display: block;
    position: relative;
    width: 10.5rem;
    margin: auto; }

.text-logo {
    font-size: 5rem;
    text-align: center;
    position: relative; }
.text-logo--left {
    display: inline-block;
    color: #e19933;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    font-family: Ubuntu, sans-serif; }
.text-logo--right {
    display: inline-block;
    color: #0f0f0f;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    font-family: IBM Plex Mono, sans-serif; }
.text-logo--leftsimple {
    font-size: 1.6rem;
    display: inline-block;
    color: #e19933;
    font-family: sans-serif; }
.text-logo--rightsimple {
    font-size: 1.6rem;
    display: inline-block;
    color: #0f0f0f;
    font-family: sans-serif; }

.main--body {
    background-image: #f0f0f0;
    height: 100vh; }

.strip {
    height: 1.5vh;
    background-color: #24292e;
    position: relative;
    width: 100%;
    z-index: 10;
    margin-bottom: 4.5vh; }

body {
    background-image: #f0f0f0;
    height: 100vh; }

.security-main {
    position: relative; }

.dynamic-margin {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    height: 37.5rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #efe4b0; }
@media (max-width: 56.25em) {
    .dynamic-margin {
        width: 90%; } }
.dynamic-margin > * {
    box-shadow: none; }

.login-form {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    height: 42rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #efe4b0; }
@media (max-width: 56.25em) {
    .login-form {
        width: 90%; } }
.login-form > * {
    box-shadow: none; }

.signup-form {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    height: 55.5rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #efe4b0; }
@media (max-width: 56.25em) {
    .signup-form {
        width: 90%; } }
.signup-form > * {
    box-shadow: none; }

.error-page {
    background-color: #24292e;
    color: white;
    height: 1000px;
    max-height: 65vh;
    position: relative; }
.error-page__msg {
    position: absolute;
    padding: 3rem;
    width: 100%;
    display: block;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }
.error-page__title {
    font-size: 12rem;
    text-align: center;
    color: orange; }
.error-page__paragraph {
    font-size: 2.5rem;
    text-align: center; }
.error-page--center {
    margin: 1rem auto;
    text-align: center !important; }

.alert {
    position: relative;
    height: 15rem;
    font-size: 1.6rem;
    margin-top: 2.5rem;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #efe4b0;
    padding-top: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #212121; }
@media (max-width: 56.25em) {
    .alert {
        width: 90%; } }
.alert > * {
    box-shadow: none; }
.alert--info {
    padding-left: 3rem;
    color: #0d993a; }
.alert--danger {
    padding-left: 3rem;
    color: #852d36; }

.anchor__darkorange {
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    color: darkorange;
    text-decoration: underline;
    cursor: pointer; }
.anchor__darkorange__big {
    font-size: 1.6rem;
    padding: 1.2rem 2rem; }
.anchor__darkorange__medium {
    margin-top: 1rem;
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
    margin-left: -1.2rem; }
.anchor__darkorange__small {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    padding: 0.9rem 1.5rem;
    margin-left: -0.9rem; }
.anchor__darkorange__footer {
    font-size: 1.6rem;
    padding: 0;
    text-decoration: underline; }
.anchor__darkorange__footer:link, .anchor__darkorange__footer:visited {
    color: darkorange;
    text-decoration: underline;
    display: inline-block;
    transition: all .2s; }
.anchor__darkorange__footer:hover, .anchor__darkorange__footer:active {
    color: white;
    background-color: darkorange;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    text-decoration: none; }
.anchor__darkorange:link, .anchor__darkorange:visited {
    color: darkorange;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: underline;
    transition: all .2s; }
.anchor__darkorange:hover, .anchor__darkorange:active {
    color: white;
    background-color: darkorange;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    text-decoration: none; }

.anchor__green {
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    color: #55c57a;
    text-decoration: underline;
    cursor: pointer; }
.anchor__green__small {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    padding: 0.9rem 1.5rem;
    margin-left: -0.9rem; }
.anchor__green:link, .anchor__green:visited {
    color: #55c57a;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: underline;
    transition: all .2s; }
.anchor__green:hover, .anchor__green:active {
    color: white;
    background-color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    text-decoration: none; }

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem !important;
    font-family: Ubuntu, sans-serif !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    margin: 0 !important;
    padding: 1.5rem 4rem;
    border: none;
    cursor: pointer; }

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
    background-color: white;
    color: #777; }
.btn--white::after {
    background-color: white; }

.btn--green {
    background-color: #55c57a;
    color: white; }
.btn--green::after {
    background-color: #55c57a; }

.btn--orange {
    background-color: #99333e;
    color: white; }
.btn--orange::after {
    background-color: #99333e; }

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.form-comments {
    font-size: 1.6rem;
    margin: 3rem auto;
    display: block;
    max-width: 1390px;
    width: 100%; }
.form-comments__input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 1.6rem;
    resize: none;
    padding-left: 1rem; }
.form-comments__input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid black; }
.form-comments--update {
    margin: 3rem 3rem; }

.comment {
    font-size: 1.6rem;
    max-width: 1400px;
    margin: 3rem auto; }
.comment--each {
    width: 100%;
    border: 1px #999 solid;
    border-radius: 10px;
    background-color: #eeeeee; }
.comment--each:not(:first-child) {
    margin-top: 1rem; }
.comment--each:hover {
    background-color: #d8dfe8; }
.comment--row {
    padding-top: 1rem; }
.comment--author {
    color: #4285f4;
    font-size: 1.6rem;
    padding-left: 1rem; }
.comment--date {
    padding-right: 1rem;
    float: right; }
.comment--content {
    padding-left: 1rem;
    padding-bottom: 1rem; }
.comment--link {
    padding-left: 1rem; }

.form__group:not(:last-child) {
    margin-bottom: 2rem; }

.form__input {
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif !important;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
@media (max-width: 56.25em) {
    .form__input {
        padding-left: 0;
        width: 95%; } }
.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
.form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
    font-size: 2rem;
    font-weight: 700;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.form__radio-group {
    width: 49%;
    display: inline-block; }
@media (max-width: 56.25em) {
    .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } }

.form__radio-input {
    display: none; }

.form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }

.form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
.form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.form-essence {
    padding-top: 3rem;
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
    position: relative; }
@media (max-width: 75em) {
    .form-essence {
        width: 70%; } }
@media (max-width: 56.25em) {
    .form-essence {
        width: 75%; } }
@media (max-width: 37.5em) {
    .form-essence {
        width: 85%; } }

table {
    width: 100%;
    font-size: 1.6rem;
    border-collapse: collapse; }
table thead {
    background-color: #333;
    color: white;
    text-align: left; }
table tr {
    display: table-row;
    text-decoration: none;
    line-height: 4.2rem;
    padding-top: auto;
    border-bottom: 1px black solid;
    text-align: left; }
table tr:last-child {
    border-bottom: none; }
table tr:not(.theadrow):hover {
    background-color: #efe4b0; }
table td {
    text-align: left;
    padding-left: 1.5rem;
    border-bottom: thin #333 2px; }
table td a {
    width: 100%;
    text-decoration: none;
    color: black;
    display: block; }
table td a:hover {
    text-decoration: underline; }
table th {
    padding-left: 1.5rem; }

.article {
    font-size: 1.6rem;
    margin: 3rem auto;
    display: block;
    max-width: 1360px;
    min-height: 500px;
    background-color: #efe4b0;
    padding: 20px; }
.article pre {
    max-width: 1000px;
    display: block;
    margin-left: 3rem; }
.article-code {
    color: white;
    background-color: #282a36;
    font: Consolas, Courier, monospace;
    display: inline-block; }
.article--title {
    color: #e19933;
    text-align: center;
    font-size: 4.5rem; }
.article--author {
    color: #4285f4;
    font-size: 2rem; }
.article--normal {
    color: black;
    font-size: 2rem; }
.article--date {
    color: black;
    text-align: right;
    display: block;
    padding-right: 3rem;
    font-size: 2rem; }
.article--label {
    display: inline-block;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-style: Courier;
    vertical-align: top; }
.article--input {
    padding-left: 1rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.8rem; }
.article--textArea {
    padding-left: 1rem;
    width: 100%;
    height: 45rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2rem;
    resize: none; }
.article--center {
    text-align: center; }

.search {
    height: 50px;
    font-size: 2rem;
    margin-bottom: 3rem; }
.search__input {
    background-color: #efe4b0;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: center;
    width: 60%;
    height: 1.5rem;
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif !important;
    color: inherit;
    padding: 1rem 45px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    float: left; }
.search__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
@media (max-width: 56.25em) {
    .search__input {
        width: 100%; } }
.search__submit {
    margin-left: 1rem;
    height: 3.7rem;
    width: 10rem;
    background-color: #777;
    font-family: Ubuntu, sans-serif;
    font-size: 1.5rem;
    border: 3px solid transparent;
    color: white; }
@media (max-width: 56.25em) {
    .search__submit {
        margin-top: 1rem; } }
.search__submit:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #efe4b0; }

.mainsection {
    margin-top: 5vh;
    min-height: 64vh;
    margin-bottom: 5vh; }

.main--header {
    height: 10.7rem;
    min-height: 7vh;
    background-color: #24292e;
    position: relative;
    width: 100%;
    z-index: 10;
    color: white;
    font-size: 1.6rem;
    font-family: Ubuntu, sans-serif; }
@media (max-width: 37.5em) {
    .main--header {
        width: 100%;
        height: 12.7rem; } }

.dynamic--margin {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 8.7rem;
    width: 80%;
    content: "";
    display: block;
    height: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
@media (max-width: 56.25em) {
    .dynamic--margin {
        width: 90%; } }
@media (max-width: 37.5em) {
    .dynamic--margin {
        width: 100%;
        padding-top: 2.25rem;
        padding-bottom: 1.75rem; } }

.logo {
    float: left; }
.logo--img {
    width: 8.9rem;
    height: 8.7rem; }
@media (max-width: 20rem) {
    .logo--img {
        width: 5rem;
        height: 5rem; } }

.greeting {
    float: right;
    margin-right: 1rem;
    font-size: 2rem !important;
    padding-bottom: 5px; }
@media (max-width: 75em) {
    .greeting {
        margin-right: .5rem; } }

.row::after {
    content: "";
    display: table;
    clear: both; }

.row [class^="col-"] {
    float: left; }
.row [class^="col-"]:not(:last-child) {
    margin-right: 5rem; }

.row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }

.row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3);
    margin-bottom: 1.5rem; }
@media (max-width: 56.25em) {
    .row .col-1-of-3 {
        width: 100% !important; } }

.row .col-2-of-3 {
    width: calc((100% - 2 * 5rem) / 3 * 2 + 5rem); }

.row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
@media (max-width: 56.25em) {
    .row .col-1-of-4 {
        width: 100% !important; } }

.row .col-3-of-4 {
    width: calc((100% - 3 * 5rem) /4 * 3 + 5rem * 2); }
@media (max-width: 56.25em) {
    .row .col-3-of-4 {
        width: 100% !important; } }

.dynamic--pading__right {
    padding-right: 12.5rem; }
@media (max-width: 56.25em) {
    .dynamic--pading__right {
        padding-right: 7rem; } }
@media (max-width: 37.5em) {
    .dynamic--pading__right {
        padding-right: 15rem; } }

.navigation {
    background-color: #3c3c3c;
    height: 3rem;
    min-height: 2.75vh; }
@media (max-width: 37.5em) {
    .navigation {
        display: none;
        height: 0; } }
.navigation__wrapper {
    display: inline-block;
    height: 100%; }
@media (max-width: 56.25em) {
    .navigation__wrapper {
        width: 100%; } }
.navigation__item {
    float: left;
    width: 17rem;
    vertical-align: middle;
    overflow: hidden;
    height: 3rem;
    min-height: 2.75vh;
    position: relative; }
.navigation__item:not(:last-child) {
    margin-right: 1.5rem; }
@media (max-width: 56.25em) {
    .navigation__item {
        width: 15rem; } }
@media (max-width: 37.5em) {
    .navigation__item {
        display: none; } }
.navigation__list {
    list-style: none;
    height: 3rem; }
.navigation__link--orange {
    border-top: orange solid 1px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    vertical-align: center;
    overflow: hidden; }
.navigation__link--orange:link, .navigation__link--orange:visited {
    color: white;
    background-color: #3c3c3c;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    height: 100%;
    vertical-align: middle; }
.navigation__link--orange:hover, .navigation__link--orange:active {
    background-color: orange;
    color: black;
    height: 100%;
    vertical-align: middle; }

.phone-nav__checkbox {
    display: none; }

.phone-nav__button {
    background-color: #24292e;
    height: 6rem;
    width: 6rem;
    top: 2.4rem;
    right: 1.8rem;
    border-radius: 50%;
    z-index: 60000;
    position: fixed;
    cursor: pointer; }

.phone-nav__background {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: fixed;
    top: 2.6rem;
    right: 2rem;
    background-image: radial-gradient(#e19933, orange);
    z-index: 6000;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }

.phone-nav__nav {
    display: none;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 6001;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.67, -0.5, 0.06, 1.4); }

.phone-nav__list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }

.phone-nav__link:link, .phone-nav__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all .4s;
    text-align: center; }

.phone-nav__link:hover, .phone-nav__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }

.phone-nav__checkbox:checked ~ .phone-nav__background {
    transform: scale(100); }

.phone-nav__checkbox:checked ~ .phone-nav__nav {
    display: block;
    opacity: 1;
    width: 100%; }

.phone-nav__icon {
    position: relative;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%); }
.phone-nav__icon, .phone-nav__icon::before, .phone-nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: white;
    display: inline-block;
    transition: all .2s; }
.phone-nav__icon::before, .phone-nav__icon::after {
    content: "";
    position: absolute;
    left: 0; }
.phone-nav__icon::before {
    top: -.8rem; }
.phone-nav__icon::after {
    top: .8rem; }

.phone-nav__button:hover .phone-nav__icon:before {
    top: -1rem; }

.phone-nav__button:hover .phone-nav__icon:after {
    top: 1rem; }

.phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon {
    background-color: transparent; }

.phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon::before {
    transform: rotate(135deg);
    top: 0rem; }

.phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon::after {
    transform: rotate(-135deg);
    top: 0rem; }

.phone-nav__item {
    margin: 2rem; }

.footer {
    padding-top: 3rem;
    border-top: #555555 thin solid;
    font-family: sans-serif;
    font-size: 1.6rem;
    height: 3.5rem !important; }
.footer--ul {
    text-decoration: none; }
.footer--li {
    list-style: none;
    display: inline-block;
    min-width: 140px; }
.footer--link {
    color: orange; }
.footer--social-media {
    height: 1.6rem;
    width: 1.5rem;
    float: right; }
.footer--sociallogo {
    float: right; }
.footer--sociallogo--img {
    height: 3rem;
    width: 3rem;
    margin-left: .5rem;
    filter: brightness(0.9); }
.footer--sociallogo--img:hover {
    filter: brightness(1.5); }
.footer--nav {
    width: 290px;
    display: block; }
@media (max-width: 56.25em) {
    .footer--nav {
        margin: auto;
        text-align: center; } }

.copyright {
    float: right;
    font-size: 1.6rem;
    color: #555555; }
@media (max-width: 56.25em) {
    .copyright {
        float: none;
        display: block !important;
        height: 3.5rem !important;
        text-align: center;
        margin-top: 1rem; } }
