<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('FinanceScript 2.0')">Meta info goes here
</head>
<body>
    <div th:replace="fragments/header_fg :: social_media">Social media header goes here</div>
    <div th:replace="fragments/header_fg :: navigation">Navigation bar goes here</div>
    <main class="mainsection">
        <div class="responsive__margin">
            <div class="row">
                <div class="feed" style="height: auto; margin: 5rem 0; background-color: aliceblue;">
                    <h1>
                        Welcome to FinanceScript 2.0 Alpha Version
                    </h1>
                    <p>
                        <i>This website is created with <b>Java</b> and <b>Spring Framework</b> by
                            <a class="feed--a" href="https://www.linkedin.com/in/hochanlee/" target="_blank">Hochan Lee</a>, an Actuary at Numerix. Please contact <a class="feed--a" href="mailto:nyhochan.lee@gmail.com">nyhochan.lee@gmail.com</a> for his resume and career opportunities.</i>
                    </p>
                    <br>
                    <ul>
                        <li>01/01/2020: <a class="feed--a" th:href="@{/articles}">Equity Research</a> page is available! </li>
                        <li>01/16/2020: <a class="feed--a" th:href="@{/articles}">Equity Research</a> now supports user's comments.</li>
                        <li>02/01/2020: <a class="feed--a" th:href="@{/forgotPassword}">Forgot my Passsword</a> is now functional and will send an email to you!</li>
                        <li>03/01/2020: Index page (this page) shows the market data and earnings report. Alpha version is deployed with AWS!</li>
                        <li>05/30/2020*: Plans to release <a class="feed--a" th:href="@{/notImplemented}">Simulations</a> feature. Partial development progress is available <a class="feed--a" href="https://github.com/hochanFS/AAA-ESG"  target="_blank">here</a>.</li>
                    </ul>
                    <p>
                        Your feedback is always welcome. For bugs or suggestions, please create an issue at public GitHub <a href="https://github.com/hochanFS/financescript-2" target="_blank" class="feed--a">repository</a>.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    <div class="market--rest">
                        <h1>
                            Sector Performances
                        </h1>
                        <table class="sectorscreen">
                            <tr th:each="i: ${#numbers.sequence(0, 8)}">
                                <td style="width: 60%;" th:text="${sectorTitles[i]}">Discretionary</td>
                                <td><span th:text="${sectorReturns[i]}" th:class="${sectorReturns[i].startsWith('-')}? 'card--red' : 'card--green'">1.02%</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-2-of-3">
                    <div class="feed">
                        <h1>Earnings Reports</h1>
                        <ul th:each="s: ${earningReports}">
                            <li th:utext="${s}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer_fg :: footer"></div>
</body>
</html>