<!DOCTYPE html>
<!--Temporary research page. To be replaced by a fancier style-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('FS::Articles')">Meta info goes here
</head>

<body>
    <!--/*@thymesVar id="article" type="com.financescript.springapp.domains.Article"*/-->
    <div th:replace="fragments/header_fg :: social_media">Social media header goes here</div>
    <div th:replace="fragments/header_fg :: navigation">Navigation bar goes here</div>
    <main class="mainsection">
        <div class="responsive__margin">
            <div class="search">
                <div class = "row">
                    <form th:object="${article}" th:action="@{/articles}" method="get" class="search__form">
                        <input th:field="*{title}" placeholder="Search by title" class = "search__input"/>
                        <button type="submit" class="search__submit">
                            Search
                        </button>
                        <a th:href="@{/articles/new}" class="btn btn--green u-padding-very-small-btn">New</a>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                <tr class="theadrow">
                    <th>Author</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.member.username}">user1</td>
                    <td ><a th:text="${article.title}" th:href="@{'/articles/' + ${article.id} + '/show'}">My article</a></td>
                    <td th:text="${converter.write(article.creationTime)}">01/01/2020 6:30</td>
                </tr>
            </table>
        </div>
    </main>
    <div th:replace="fragments/footer_fg :: footer"></div>
</body>
</html>