<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/info_fg :: metainfo ('FS::Articles')">Meta info goes here
</head>
<body>

<div th:replace="fragments/header_fg :: social_media">Social media header goes here</div>
<div th:replace="fragments/header_fg :: navigation">Navigation bar goes here</div>
<!--/*@thymesVar id="article" type="com.financescript.springapp.domains.Article"*/-->
<main class="mainsection">
    <div class="responsive__margin">
        <div class="article">
            <div>
                <!--/*@thymesVar id="sessionUsername" type="String.class"*/-->
                <span th:if="${sessionUsername == article.member.username}">
                    <a href="#" th:href="@{'/articles/' + ${article.id} + '/update'}"
                       class="anchor__green anchor__green__small">Edit</a></span>

                <span th:if="${sessionUsername == article.member.username}">
                    <a href="#" th:href="@{'/articles/' + ${article.id} + '/delete'}"
                       class="anchor__darkorange anchor__darkorange__small">Delete</a></span>

                <h1 th:text="${article.title}" class="article--title">Title</h1>
            </div>

            <div class="row">

                <div class="col-1-of-2">
                    <span class="article--normal">Author: </span><span th:text="${article.member.username}" class="article--author">Author</span>
                </div>
                <div class="col-1-of-2">
                    <!--/*@thymesVar id="sessionUsername" type="java.lang.String"*/-->
                    <span th:text="${converter.write(article.creationTime)}" class="article--date">01/01/2020</span>
                    <!--Add alert with CSS-->
                </div>

            </div>
            <div class="row">
                <br>
                <article th:utext="${article.contents}">
                    <pre><div class="language-java">
                        import java.util.ArrayList;
                        public class ArticleParser {
                        System.out.println("hello");}
                    </div></pre>
                    <p>this is <code>code snippet</code></p>
                    <pre><div class="language-java">
                        import java.util.ArrayList;
                        public class ArticleParser {
                        System.out.println("hello");}
                    </div></pre>
                </article>
            </div>
        </div>

        <div class="form-comments">
            <!--/*@thymesVar id="comment" type="com.financescript.springapp.domains.Comment"*/-->
            <form th:object="${comment}" th:action="@{'/articles/' + ${article.getId()} + '/comment'}" method="post">
                <div class="row">
                    <input type="hidden" th:field="*{id}"/>
                    <textarea rows="1" class="form-comments__input" th:field="*{contents}" th:errorclass="has-error"
                              id="text" placeholder="Write a comment"></textarea>
                </div>
                <script src="../../static/js/comment-text.js" th:src="@{js/comment-text.js}"></script>
                <div class="row">
                    <button type="submit" class="btn btn--green u-padding-small-btn">Submit</button>
                </div>
            </form>
        </div>

        <div class="comment" th:each="comment: ${article.comments}">
            <div class="comment--each">
                <!--/*@thymesVar id="sessionUsername" type="java.lang.String"*/-->
                <div th:if="${sessionUsername == comment.member.username}" class = "comment--link">
                    <span>
                        <a href="#"
                           class="anchor__green anchor__green__small">Edit</a></span>
                    <span>
                        <a href="#" th:href="@{'/comment/' + ${comment.id} + '/delete'}"
                           class="anchor__darkorange anchor__darkorange__small">Delete</a></span>
                </div>
                <div class="row comment--row">
                    <div class="col-1-of-2">
                        <span th:text="${comment.member.username}" class="comment--author">Author</span>
                    </div>
                    <div class="col-1-of-2">
                        <span th:text="${converter.write(comment.creationTime)}" class="comment--date">01/01/2020</span>
                    </div>

                </div>
                <div class="comment--content">
                    <p th:text="${comment.contents}">*Contains article context*</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://pagecdn.io/lib/ace/1.4.7/ace.js"></script>
        <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="../js/codeformat.js" th:src="@{/js/codeformat.js}"></script>
    </div>
    <div th:replace="fragments/footer_fg :: footer"></div>
</main>
</body>
</html>