* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-left: 3%;
    margin-right: 3%;
    background: #181818;
    font-family: sans-serif;
}
div#header{
    height: 100%;
    padding-top: 1%;
    padding-bottom: 89px;
    margin-bottom: 1%;
}
div#header a#logo{
    width: 65%;
    float: left;
}
div#header div#twitter{
    width: 32px;
    float: right;
}

div#header div#linkedin{
    width: 32px;
    float: right;
}
nav {
    height: 35px;
    background: #282828;
}
.nav-links {
    display: flex;
    height: 100%;
    min-width: 60%;
    max-width: 1200px;
    list-style: none;
    align-items: center;
}
.nav-choice {
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

nav ul li {
    width: 18%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

nav ul li:hover {
    background-color: #ffff82;
}

nav ul li:hover a {
    color: black
}

.nav-list {
    border-top: solid #ffff82 thin;
    width: 100%;
}

@media screen and (max-width: 768px) {

    nav {
        position: relative;
    }


    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin-top: 6px;
        z-index: 5;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        z-index: 2;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 100%;
    }


    .nav-links {
        position: fixed;
        background-color: aqua;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(500px at 90% -10%);
        -webkit-clip-path: circle(500px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 5;

    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
    }

}